<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Book</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amaranth&family=KoHo:wght@500&family=Merriweather&family=Montserrat&family=Parisienne&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">

</head>
<body>
  <h1>Add a New book</h1>
  <form action="/new" method="post">
    <p>What's the book name?</p>
    <input type="text" name="name">
    <p>What's the writer name?</p>
    <input type="text" name="writer">
    <p>What's the rating number?</p>
    <input type="text" name="number">
    <p>What's the isbn number?</p>
    <input type="text" name="isbn">
    <p>What's the summary of the book book?</p>
    <input type="text" name="sum">
    <p>What's the review of the book book?</p>
    <input type="text" name="review">
    <button type="submit">Add</button>
  </form>
</body>

</html>
